<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Quatrième Mur</title>
</head>

<body>
    <h1>Le Quatrième Mur</h1>
    <p>2 place de la Comédie, Bordeaux, 33000, France</p>
    <h2>L'avis du Guide MICHELIN</h2>
    <p>Au théâtre, le quatrième mur est celui, invisible,
        qui sépare le public de la scène. Un nom tout choisi
        pour cette table installée dans les ors du Grand théâtre !
        Un produit de qualité, une cuisson précise, une garniture
        et un jus : Philippe Etchebest va à l'essentiel et nous
        régale en toute simplicité.</p>
    <br>
    <p>Assiette • qualité des produits et tour de main du chef : un bon repas tout simplement</p>
    <p>Standing simple. Nos plus belles adresses.</p>

    <h2>Equipements et services</h2>
    <p>Bonne sélection de vins</p>
    <p>Possibilité de manger dehors</p>
    <p>Etablissement réservé partiellement ou entièrement aux non-fumeurs</p>
    <p>Carte de crédit American Express</p>

    <h2>Informations pratiques</h2>
    <p>+33 5 56 02 49 70</p>
    <p>www.quatrieme-mur.com</p>

</body>

</html>
